<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Упс..</h4>
    <p>Ми помітили, що Ви не маєте доступу до деякого функціоналу нашого сервісу.</p>
    <hr>
    <p class="mb-0">Скоріш авторизуйтесь та почніть ним користуватись!</p>
    <a asp-action="Register" asp-controller="User">Реєстрація</a>
   <br>
    <a asp-action="Login" asp-controller="User">Авторизація</a>
</div>

