@model BookingService.Models.RegistrationModel
    <center>
        <h2>Реєстрація</h2>
        
        <form asp-action="Login" asp-controller="User" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div>
                    <label asp-for="PIP">ПІП</label><br />
                    <input type="text" asp-for="PIP" />
                    <span asp-validation-for="Email" />
                </div>
                <div>
                    <label asp-for="Email">Ваш Email</label><br />
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div>
                    <label asp-for="Password">Ваш пароль</label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
                <div>
                    <label asp-for="ConfirmPassword">Повторіть пароль</label><br />
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" />
                </div>
                <div>
                    <input type="submit" value="Реєстрація" />
                </div>
            </div>
        </form>
        <strong><a asp-action="Login" asp-controller="User">Авторизація</a></strong>
    </center>