@model IEnumerable<BookingService.Models.HousePost>
    <h1>Історія здачі вашого житла в оренду</h1>
@if (Model.Count()<1)
{
<h3>Порожня..</h3>

}
else
{
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Адреса</th>
            <th scope="col">Ціна</th>
        </tr>
    </thead>
    <tbody>

        @{int i = 1;}
        @foreach (var post in Model)
            {
        <tr>

            <th scope="row">@i</th>
            @{i++;
            }
            <td><a href="/Home/GetInfo/@post.HousePostId"> @post.Title</a></td>
            <td>@post.Address</td>
            <td>@post.Price</td>
        </tr>
            }
    </tbody>
</table>
}<center>
<h1>Бажаєте здати в оренду будинок?</h1>
</center>
<center>
    <br>
    <a href="/Home/AddNewHouse"  class="btn btn-primary btn-lg">Здати житло в оренду</a>
</center>
